<a href="https://colab.research.google.com/github/martinondiwa/Acher-s-Post-KML/blob/main/Machine_Learning_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# ml
#supervised #unsupervised
#Machine with input and output labels #Input Data

In [ ]:
#ml life cycle
#Get data.....>preprocess......>Split input/output........>train/test.....>algorithms...>prediction

In [ ]:
#iris flower data

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv(
    "/content/drive/MyDrive/bts_01.csv"
)

In [8]:
df.head()

,S/N,SITE ID,SITE NAME,Latitude,Longitude,SITE TYPE,ROUTE,DEPENDENT SITES,DEPENDENCY COUNT,AFFECTED REGION,POWER SYSTEM,Unnamed: 11
0,1.0,CEQ001,Juba Radio,4.8467,31.5964,HUB,ACCESS,"CEQ213,CEQ229,CEQ257,CEQ277,CEQ001",5.0,CEQ,DG + Hybrid + Grid,NaN
1,2.0,CEQ002,Juba Military,4.8308,31.5953,HUB,ACCESS,"CEQ002,CEQ054",2.0,CEQ,DG + Hybrid + Grid,NaN
2,3.0,CEQ003,Juba Hospital,4.8519,31.6097,HUB,ACCESS,"CEQ003,CEQ216,CEQ048",3.0,CEQ,DG + Hybrid + Grid,NaN
3,4.0,CEQ004,Souk Hajjar,4.8633,31.5767,HUB,ACCESS,"CEQ151,CEQ160,CEQ175,CEQ174,CEQ226,CEQ004,CEQ2...",8.0,CEQ,DG + Hybrid + Grid,NaN
4,5.0,CEQ005,Nakoro,4.8489,31.5767,TERMINAL,ACCESS,CEQ005,1.0,CEQ,DG + Hybrid + Grid,NaN

In [9]:
df.columns

Index(['S/N', 'SITE ID', 'SITE NAME', 'Latitude', 'Longitude', 'SITE TYPE',
       'ROUTE', 'DEPENDENT SITES', 'DEPENDENCY COUNT', 'AFFECTED REGION',
       'POWER SYSTEM', 'Unnamed: 11'],
      dtype='object')

In [16]:
x=df[['AFFECTED REGION', 'Latitude', 'Longitude', 'SITE TYPE', 'AFFECTED REGION', 'POWER SYSTEM']]
y=df['DEPENDENCY COUNT']

In [18]:
x

,AFFECTED REGION,Latitude,Longitude,SITE TYPE,AFFECTED REGION,POWER SYSTEM
0,CEQ,4.8467,31.5964,HUB,CEQ,DG + Hybrid + Grid
1,CEQ,4.8308,31.5953,HUB,CEQ,DG + Hybrid + Grid
2,CEQ,4.8519,31.6097,HUB,CEQ,DG + Hybrid + Grid
3,CEQ,4.8633,31.5767,HUB,CEQ,DG + Hybrid + Grid
4,CEQ,4.8489,31.5767,TERMINAL,CEQ,DG + Hybrid + Grid
...,...,...,...,...,...,...
518,NaN,NaN,NaN,NaN,NaN,NaN
519,NaN,NaN,NaN,NaN,NaN,NaN
520,NaN,NaN,NaN,NaN,NaN,NaN
521,NaN,NaN,NaN,NaN,NaN,NaN
522,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier